.git
.gitignore
__pycache__
*.py[cod]
*.egg-info
venv/
env/
.venv/
.env
.idea/
.vscode/
data/
dataset/
*.csv
*.log
.ipynb_checkpoints/
docs/
README.md
RUN.md
condaenv.*.requirements.txt
environment.yml
packages.txt
